body {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    cursor: none;
    text-align: center;
}

h1 {
    font-size: 20em;
}

h2 {
    font-size: 5em;
}